body {
    background-color: lightblue;
}
/*This is CSS external*/
#h1 {
    color: navy;
    margin-left: 20px;
}
.sections{
    text-align: center;
}
.section1 p{
    background-color: red;
    width: 100%;
    text-align: center;
    
}

.section2 p{
    background-color: blue;
     width: 100%;
   
    
}
p{
    font-size: 30px;
}